/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/** 
 * Adaptaption for hugo-theme-materpara 
 * by frv
 */
/* Extend navbar to 100% page width */
nav .container {
  width: 100%;
  padding-left: 10px;
}
/* Limit images size in contents */
.single img {
  max-width: 600px;
}
/* Adjust line spaces for large texts */
.single p {
  line-height: 1.5rem;
}
/* Allow github style checklists */
[type=checkbox].task-list-item {
  position: relative;
  opacity: initial;
  left: 0;
}
/* Implement vignettes */
figure.vignette {
  margin-left: 0;
}
figure.vignette img {
  margin-right: 10px;
  float: left;
  width: 90px;
}
