<!-- <article class="li">
  <a href="{{ .Permalink }}" class="clearfix">
    <div class="image" style="background-image: url({{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }});"></div>
    <div class="detail">
      <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time> -->
      <div class="icon-block">
         <h2 class="center brown-text"><i class="material-icons">{{ .Params.icon }}</i></h2>
         <h5 class="center">{{ .Title }}</h5>
	 {{ $trailer :=  .Permalink | printf "<a href=\"%s\">… (suite)</a>"  }}
	 <p class="light">{{ .Content |safeHTML | truncate 350 ( $trailer | safeHTML ) }}</p>
      </div>
<!--
      <div class="card teal darken-1">
      <div class="card-image">
        <img src="{{ .Params.image }}">
        <span class="card-title">{{ .Title }}</span>
      </div>
      <div class="card-content white-text">
        <p>{{ .Description }}</p>
      </div>
      <div class="card-action">
           <a href="{{ .Permalink }}">See more</a>
      </div>
      </div>
-->
