{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
  {{ partial "parallax1" . }}
  {{ .Content }}
  <div class="container">
    <div class="section">
      <div class="row">
      {{ range (.Paginate .Data.Pages).Pages }}
        <div class="col s12 m4">
            {{ .Render "li" }}
        </div>
      {{ end }}
      </div>
    </div>
  </div>
{{ partial "footer.html" . }}
