{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
  {{ partial "parallax1" . }}
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
            <div class="row content single">
               {{.Content }}
           </div>
        </div>
      </div>

    </div>
  </div>
{{ partial "footer.html" . }}
