{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
  {{ partial "parallax1" . }}
  <div class="container">
    <div class="section">
      <h5> _default/taxonomy.html</h5>
      <div class="row">
        <ul id="list">
            {{ range .Data.Pages }}
        <div class="col s12 m4">
            {{ .Render "li" }}
        </div>
            {{ end }}
        </ul>      </div>
    </div>
  </div>
{{ partial "footer.html" . }}
