{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
  {{ partial "parallax1" . }}
  <div class="container">
    <div class="section">
     <div class="row">
     <h5>_default/terms.html</h5>
       <ul>
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms }}
        <li><a href="{{ $key | urlize }}">{{ $key }}</a> {{ len $value }}</li>
        {{ end }}
       </ul>
     </div>
   </div>
  </div>
{{ partial "footer.html" . }}
