{{ partial "parallax3.html" . }}
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ .Site.Params.footer.title }}</h5>
        <p class="grey-text text-lighten-4">{{ .Site.Params.footer.text }}</p>
      </div>
      {{ range .Site.Params.footer.links }}
      <div class="col l3 s12">
        <h5 class="white-text">{{ .title }}</h5>
        <ul>
          {{ range .link }}
             <li><a class="white-text" href="#!">{{ .text }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      {{ .Site.Params.copyright | safeHTML }}
    </div>
  </div>
</footer>
 {{ partial "javascript.html" . }}
</body>
</html>
