<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    {{ if .Title }}
    <title>{{ .Title }}</title>
    {{ else }}
    <title>{{ .Site.Title }}</title>
    {{ end }}

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ .Site.BaseURL }}css/custom.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
