<!--   Icon Section   -->
<div class="container">
  <div class="section">
    <div class="row">
      {{ range first 3 .Site.Taxonomies.tags.homepage }}
        <div class="col s12 m4">
          {{ .Page.Render "li" }}
        </div>
      {{ end }}
    </div>
  </div>
</div>



