  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{ .Site.BaseURL }}" class="brand-logo"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo }}" alt="Logo" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
      {{ range .Site.Params.navbar }}
        <li><a href="{{ .href }}">{{ .text }}</a></li>
      {{ end }}
      </ul>
      <ul id="nav-mobile" class="side-nav">
      {{ range .Site.Params.navbar }}
        <li><a href="{{ .href }}">{{ .text }}</a></li>
      {{ end }}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
