<div class="parallax-container valign-wrapper middle">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">
         {{ if .IsHome }}{{ .Site.Params.descriptionmiddle }}{{ else }}{{ .Description }}{{ end }}
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.background2 }}" alt="Unsplashed background img 2"></div>
</div>
