<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
	    <h1 class="header center teal-text text-lighten-2">{{ if .Title }}{{ .Title }}
			    {{ else }}{{ .Site.Title }}
				    {{ end }}
				    </h1>
      <div class="row center">
        <h5 class="header col s12 light">
		{{ if .IsHome }} {{ .Site.Params.description }}{{ else }} {{ .Description }}{{ end }}
        </h5>
      </div>
      {{ if .IsHome }}
      <div class="row center">
        <a href="{{ .Site.Params.startlink }}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">{{ .Site.Params.starttext }}</a>
      </div>
      {{ end }}
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.background1 }}" alt="Unsplashed background img 1"></div>
</div>
