<div class="container">
  <div class="section">
    <div class="row">
<!-- Mail Form -->
      <ul class="collapsible" data-collapsible="accordion"><li>
        <div class="collapsible-header"><i class="material-icons">send</i>Nous contacter</div>
        <div class="collapsible-body">
          <div class="ajax" id="formulaire_ecrire_auteur_ar7">
            <form method='post' action='https://formspree.io/frv@frvuillemin.com' enctype='multipart/form-data'>
              <fieldset>
                <legend>Envoyer un message</legend>
                  <div class="row">
                  <div class='editer saisie_email_message_auteur obligatoire input-field col s12'>
                    <label for="email_message_auteur_ar7" >Votre adresse email  (obligatoire)</label>
                    <input required="required" type="email" class="text email validate" name="email" id="email_message_auteur_ar7" value="" size="30" />
                  </div>
                  </div>
                  <div class="row">
                  <div class='editer saisie_sujet_message_auteur obligatoire input-field col s12 '>
                    <label for="sujet_message_auteur_ar7">Sujet  (obligatoire)</label>
                    <input type="text" class="text" name="sujet_message_auteur" id="sujet" value="" size="30"  required="required" />
                  </div>
                  </div>
                  <div class="row">
                  <div class='editer saisie_texte_message_auteur obligatoire input-field col s12'>
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea name="message" id="texte_message_auteur_ar7" class="materialize-textarea"   required="required"></textarea>
                    <label for="texte_message_auteur_ar7">Texte de votre message  (obligatoire)</label>
                  </div>
                  </div>
                  <button class="btn waves-effect waves-light" type="submit" name="valide">Envoyer un message
                    <i class="material-icons right">send</i>
                  </button>
              </fieldset>
              <p style="display: none;">
                <label for="nobot">Veuillez laisser ce champ vide :</label>
                <input type="text" class="text" name="nobot" id="nobot" value="" size="10" />
              </p>
            </form>
          </div>
      </div>
    </li></ul>
<!-- Mail Form --> 
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>{{ .Site.Params.secondsection.title }}</h4>
        <p class="left-align light">{{ .Site.Params.secondsection.content }}</p>
      </div>
    </div>
  </div>
</div>