{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
  {{ partial "parallax1" . }}
  {{ .Content }}
  <div class="container">
    <div class="section">
      <div class="row">
	      <p>Oups page not found</p>
      </div>
    </div>
  </div>
{{ partial "footer.html" . }}
